<main id="main" class="main">
    <div class="pagetitle">
       <h1>Game Records</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Pages</li>
             <li class="breadcrumb-item active">Game Records</li>
          </ol>
       </nav>
    </div> 
    <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body"> 
                   
                  <table class="table datatable">
                     <thead>
                        <tr>
                           <th scope="col">ID</th>
                           <th scope="col">Game Title</th>
                           <th scope="col">Balance before game</th>
                           <th scope="col">Total Played</th>
                           <th scope="col">Total Win</th>
                           <th scope="col">Balance Now</th>
                           <th scope="col">Recording Notes</th>
                           <th scope="col">Manager</th>
                           <th scope="col">Date</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <th scope="row">1</th>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>
                        <tr>
                           <th scope="row">2</th>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section> 
 </main>