<main id="main" class="main">
    <div class="pagetitle">
       <h1>Daily Wheel Records</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Pages</li>
             <li class="breadcrumb-item active">Daily Wheel Records</li>
          </ol>
       </nav>
    </div>
    <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card"></h5>
                  <div class="input-group mb-3">
                     <span class="input-group-text" id="basic-addon1">Customer:</span>
                     <input type="text" class="form-control" placeholder="ID, Account or Nickname" aria-label="ID, Account or Nickname" aria-describedby="basic-addon1">
                   </div>
                   <div class="input-group mb-3">
                     <span class="input-group-text" id="basic-addon1">Period:</span>
                     <input type="date" class="form-control"  aria-label="date">
                     <span class="input-group-text">~</span>
                     <input type="date" class="form-control me-md-2"  aria-label="date">
                     <button class="btn btn-primary me-md-2" type="button" id="inputGroupFileAddon04">Search</button>
                     
                   </div>
                   <div class="input-group mb-3">
                      <button class="btn btn-outline-primary me-md-2" type="button" id="inputGroupFileAddon04">Today</button>
                      <button class="btn btn-outline-primary me-md-2" type="button" id="inputGroupFileAddon04">Yesterday</button>
                      <button class="btn btn-outline-primary me-md-2" type="button" id="inputGroupFileAddon04">This Week</button>
                      <button class="btn btn-outline-primary me-md-2" type="button" id="inputGroupFileAddon04">Last Week</button>
                   </div> 
               </div>
            </div>
         </div>
      </div>
   </section>
    <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body"> 
                  <h5 class="card-title"></h5>
                  <table class="table datatable">
                     <thead>
                        <tr>
                           <th scope="col">ID</th>
                           <th scope="col">Account</th>
                           <th scope="col">Before</th>
                           <th scope="col">Score</th>
                           <th scope="col">Manager</th>
                           <th scope="col">Date</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <th scope="row">14332</th>
                           <td>John_20</td>
                           <td>34.45</td>
                           <td>23.56</td>
                           <td>Laxmi777_</td>
                           <td>2023-04-23 08:32:08</td>
                        </tr>
                        <tr>
                           <th scope="row">14382</th>
                           <td>Sita_28</td>
                           <td>0.90</td>
                           <td>23.90</td>
                           <td>Laxmi777_</td>
                           <td>2023-04-23 05:32:08</td>
                        </tr>
                        <tr>
                            <th scope="row">14382</th>
                            <td>lauren_28</td>
                            <td>67.90</td>
                            <td>89.90</td>
                            <td>Laxmi777_</td>
                            <td>2023-04-23 05:32:08</td>
                         </tr>
                         <tr>
                            <th scope="row">14382</th>
                            <td>Jem_28</td>
                            <td>56.90</td>
                            <td>28.90</td>
                            <td>Laxmi777_</td>
                            <td>2023-04-23 05:32:08</td>
                         </tr>

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
    
 </main>