<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li> 
       <li class="nav-heading">Pages</li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user-profile"> <i class="bi bi-person"></i> <span>Profile</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-transaction"> <i class="bi bi-currency-exchange"></i> <span>Transaction Records</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-game"> <i class="bx bxs-joystick"></i> <span>Game Records</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-jp"> <i class="bi bi-file-earmark"></i> <span>JP Records</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-wheel"> <i class="bi bi-disc-fill"></i> <span>Daily Wheel Records</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-adminStruct"> <i class="bi bi-diagram-3"></i> <span>Admin Structure</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-report"> <i class="bi bi-question-circle"></i> <span>Reports</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-jpset"> <i class="bi bi-gear-wide-connected"></i> <span>JP Setting</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-faq"> <i class="bi bi-gear"></i> <span>Setting</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-register"> <i class="bi bi-card-list"></i> <span>Register</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-login"> <i class="bi bi-box-arrow-in-right"></i> <span>Logout</span> </a></li>
       <!--li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-error404"> <i class="bi bi-dash-circle"></i> <span>Error 404</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-blank"> <i class="bi bi-file-earmark"></i> <span>Blank</span> </a></li-->
    </ul>
 </aside>