<main id="main" class="main">
    <div class="pagetitle">
       <h1>Transaction Records</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Pages</li>
             <li class="breadcrumb-item active">Transaction Records</li>
          </ol>
       </nav>
    </div>
    <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card"></h5>
                  <div class="input-group mb-3">
                     <span class="input-group-text" id="basic-addon1">Customer:</span>
                     <input type="text" class="form-control" placeholder="ID, Account or Nickname" aria-label="ID, Account or Nickname" aria-describedby="basic-addon1">
                   </div>
                   <div class="input-group mb-3">
                     <span class="input-group-text" id="basic-addon1">Period:</span>
                     <input type="date" class="form-control"  aria-label="date">
                     <span class="input-group-text">~</span>
                     <input type="date" class="form-control me-md-2"  aria-label="date">
                     <button class="btn btn-primary me-md-2" type="button" id="inputGroupFileAddon04">Search</button>
                      <button class="btn btn-outline-success" type="button" id="inputGroupFileAddon04">Excel</button> 
                   </div>
                   <div class="input-group mb-3">
                      <button class="btn btn-outline-primary me-md-2" type="button" id="inputGroupFileAddon04">Today</button>
                      <button class="btn btn-outline-primary me-md-2" type="button" id="inputGroupFileAddon04">Yesterday</button>
                      <button class="btn btn-outline-primary me-md-2" type="button" id="inputGroupFileAddon04">This Week</button>
                      <button class="btn btn-outline-primary me-md-2" type="button" id="inputGroupFileAddon04">Last Week</button>
                   </div> 
               </div>
            </div>
         </div>
      </div>
   </section>
    <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body"> 
                  <h5 class="card-title">Transaction Summary</h5>
                  <table class="table datatable">
                     <thead>
                        <tr>
                           <th scope="col">ID</th>
                           <th scope="col">Account</th>
                           <th scope="col">Nickname</th>
                           <th scope="col">Total Recharged</th>
                           <th scope="col">Total Redeemed</th>
                           <th scope="col">Gross Net</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <th scope="row">1</th>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>
                        <tr>
                           <th scope="row">2</th>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body"> 
                  <h5 class="card-title">Transaction Detail</h5>
                  <table class="table datatable">
                     <thead>
                        <tr>
                           <th scope="col">Ticket</th>
                           <th scope="col">ID</th>
                           <th scope="col">Account</th>
                           <th scope="col">Nickname</th>
                           <th scope="col">Before</th>
                           <th scope="col">Recharged</th>
                           <th scope="col">Redeemed</th>
                           <th scope="col">After</th>
                           <th scope="col">IP Add</th>
                           <th scope="col">Cashier</th>
                           <th scope="col">Remark</th>
                           <th scope="col">Date</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <th scope="row"></th>
                           <td>1</td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>
                        <tr>
                           <th scope="row"></th>
                           <td>2</td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
 </main>